<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.EmployeeMapper">
    <insert id="addEmployee" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id">
        insert into employee(lastName,email,gender,birth,departmentId)
        values (#{lastName},#{email},#{gender},#{birth},#{departmentId})
    </insert>
    <select id="getAll" resultType="java.util.HashMap">
        select * from employee
    </select>

    <select id="getEmployeeById" resultType="java.util.HashMap">
        select * from employee where id = #{id}
    </select>

    <delete id="deleteEmployee" parameterType="int">
        delete from  employee where id=#{id}
    </delete>

    <update id="updateEmployee" parameterType="java.util.Map">
        update employee set lastName=#{lastName},email=#{email},gender=#{gender},birth=#{birth},departmentId=#{departmentId}
        where id=#{id}
    </update>

</mapper>
